version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-biblioteca
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: biblioteca
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  backend:
    build: ./biblioteca-parte3
    container_name: backend-biblioteca
    restart: always
    depends_on:
      - mysql
    ports:
      - "3001:3001"
    environment:
      DB_HOST: mysql
      DB_PORT: 3306
      DB_USER: user
      DB_PASSWORD: password
      DB_NAME: biblioteca

  frontend:
    build: ./biblioteca-admin
    container_name: frontend-biblioteca
    restart: always
    depends_on:
      - backend
    ports:
      - "3000:3000"
    environment:
      CHOKIDAR_USEPOLLING: "true"

volumes:
  mysql_data:
