services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: dw2
    ports:
      - "3307:3306"
    volumes:
      - dbdata:/var/lib/mysql
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  api:
    build: ./api
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASS: root
      DB_NAME: dw2
      PORT: 3000
    ports:
      - "3002:3000"
    depends_on:
      - db

volumes:
  dbdata:
